@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: #080808;
  --second-bg-color: #101010;
  --text-color: white;
  --main-color: #ea580c;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}

/* ⩢ псевдоэлемент CSS, который позволяет стилизовать прокрутку*/
::-webkit-scrollbar{
  width: 1rem;
}
/* ⩢ псевдоэлемент CSS, который позволяет стилизовать ползунок (движущуюся часть) полосы прокрутки в браузерах на движке WebKit*/
::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
}
/* ⩢ псевдоэлемент CSS, который позволяет стилизовать фон прокрутки*/
::-webkit-scrollbar-track{
  background-color: black;
}


.header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 15%;
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

#menu-icon{
  font-size: 3.5rem;
  color: var(--main-color);
  display: none;
}

.header__logo{
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor:pointer;
  transition: 0.3s ease-in-out;

}

.header__logo:hover{
  transform: scale(1.1);
}

.gradient{
  background: linear-gradient(270deg, #DF8908 10%, #ff1d15 100%);
  background-clip: text;
  color:transparent;
}
.navbar a{
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom:3px solid transparent;
}

.navbar a:hover{
  color: var(--main-color);
  border-bottom:3px solid var(--main-color);
}

.gradient-btn{
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(270deg, #DF8908 10%, #ff1d15 100%);
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: white;
  border: none;
  text-wrap: none;
}
.gradient-btn:hover{
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 0 15px var(--main-color);
}


@keyframes change {
  0%{
    content: 'Web Developer';
  }

  100%{
    content: 'Freelancer';

  }
}

.spas::before{
  content: '';
  animation: change 5s infinite reverse;
  transition: 0.3s ease;
}




section{
  min-height: 10vh;
  padding: 10rem 15%;
}
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;

}
.home__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.home__inner-title{
  font-size: 8rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}
.home__inner-subtitle {
  margin: 1rem 0;
  font-size: 4rem;
}
.home__inner-text{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
}
.home__image-img {
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}

.home__image-img:hover{
  box-shadow: 0 0 100px var(--main-color);
}

.home__inner-icons a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 0.5rem;
  transition: 0.3s ease-in-out;
}
.home__inner-icons a:hover{
  color:var(--text-color);
  background-color: var(--main-color);
  transform:scale(1.2)translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
}
.btn-group{
  display: flex;
  gap: 1.5rem;
}
.btn {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 3rem;
  font-size: 1.8rem;
  color: black;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover{
  transform: scale(1.1);
  box-shadow: 0 0 25px var(--main-color);
}

.btn-group a:nth-of-type(2){
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;
  transition: 0.3s ease-in-out;
}
.btn-group a:nth-of-type(2):hover{
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  transform: scale(1.1);
  color: black;
}



.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background: var(--second-bg-color) ;
}

.about_img-content{
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.5s ease-in-out;
}
.about_img-content:hover{
  box-shadow: 0 0 100px var(--main-color);
}

.about_text-title{
  font-size: 7rem;
  text-align: left;
}

.about_text-subtitle{
  font-size: 2rem;
}

.about_text-btn{
  margin: 3rem 0;
}




.Read{
  display: none;
}
